# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.tox/
.gcloudignore
.git
.gitignore
.env
.travis.yml
.pytest_cache/
.cz.toml
.pre-commit-config.yaml
test/
*.json
*.md
*.cfg
tox.ini
melib.png
cloudbuild.yaml
requirements-test.txt
telethon_*.py
app.py
Procfile
